/*.mdl-button--colored{
    background: black
}*/
.chats{
    width: 70%;
    position: fixed;
    bottom:0;
    display: none;
}
.flexThis{
    display: flex;
    /*flex-wrap: wrap;*/
}
.navHead{
    display: flex !important;
}
.chatSubBtn{
    position: relative !important;
    bottom: 0 !important;
    height: auto !important;
}
#m{
    /*width: 75%;*/
    border:1px solid black;
}
#un{
    width: 75%;
}
.leftCol, .rightCol{
    display:none;
}
.rightCol{
    height:100%;
}
.userForm{
    display: flex;
    justify-content: center;
}
.chatArea{
    height: 70vh;
    border: 1px solid black;
    overflow-y: scroll;
}
.messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
};
.messages li{
    padding: 5px 10px;
};
.messages li:nth-child(odd){
    background: #eee;
};


.mdl-button--raised.mdl-button--colored{
    background: #212121;
}
.mdl-button--raised.mdl-button--colored:hover{
    background: #484848;
}